.Wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-items: flex-start;
}

.Wrapper > :nth-child(2) {
  padding-top: 2rem;
}

.Hardware {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* Layout padrão */
  gap: 1.5rem; /* Espaçamento entre os cards */
  padding: 0 1rem; /* Espaçamento lateral (ajustável) */
}

/* Ajuste para telas maiores */
@media (min-width: 640px) {
  .Hardware {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .Hardware {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .Hardware {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}