/* Estilo da barra de navegação principal */
.navbar {
  display: flex;
  background-color: var(--blue-100);
  color: white;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 8.4375rem; /* 135px */
  border-bottom-right-radius: 20px;

  justify-content: space-between;
  align-items: center;
}

.Titulo {
  display: flex;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 4rem; /* 96px */
  color: var(--white--100);

  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.perfil {
  color: var(--white--100);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Estilo para os links da navbar */
.navLinks {
  display: flex;
  gap: 1.5rem;
  outline: none;
  align-items: baseline;
  justify-content: space-between;
}

/* Estilo para cada link da navbar */
.navLink {
  color: var(--blue-100);
  font-size: 1.25rem;
  text-decoration: none;
  outline: none; /* Remove a borda preta ao clicar */

  background-color: var(--green-100);
  height: 2.5rem;
  width: 6.875rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink:hover {
  background-color: var(--green-200);
  transition: background-color 0.2s;
}

/* Estilo do botão "Adicionar Hardware" */
.addProduct {
  height: 2.5rem;
  width: 12.375rem;

}

.Logo {
  width: 4.875rem;
  height: 4.875rem;
}

.imagemPerfil {
  width: 2.75rem;
  height: 2.75rem;
}

@media (max-width: 768px) {
  .navLink {
    font-size: 1rem;
  }

}