/* Estilo da barra de navegação principal */
.navbar {
  display: flex;
  background-color: var(--blue-100);
  color: white;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 8.4375rem; /* 135px */
  border-bottom-right-radius: 20px;

  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.Titulo {
  display: flex;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 4rem; /* 96px */
  color: var(--white);

  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.perfil {
  color: var(--white--100);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para os links da navbar */
.navLinks {
  display: flex;
  gap: 1.5rem;
  outline: none;
  align-items: baseline;
  justify-content: space-between;
}

/* Estilo para cada link da navbar */
.navLink {
  color: var(--blue-100);
  font-size: 1.25rem;
  text-decoration: none;
  outline: none; /* Remove a borda preta ao clicar */

  background-color: var(--green-100);
  height: 2.5rem;
  width: 6.875rem;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink:hover {
  background-color: var(--green-200);
  transition: background-color 0.2s;
}

/* Estilo do botão "Adicionar Hardware" */
.addProduct {
  height: 2.5rem;
  width: 12.375rem;

}

.Logo {
  width: 4.875rem;
  height: 4.875rem;
}

.imagemPerfil {
  width: 2.75rem;
  height: 2.75rem;
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.dropdownMenu {
  background: var(--green-100);
  border: 1px solid var(--green-200);
  position: absolute;
  right: 0;
  top: 8.4375rem;
  z-index: 10;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);

  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 20.3125rem;
  height: 11.25rem;
  padding: 0.5rem;
}

.dropdownMenu img{
  margin-left: 0.2rem;
  height: 1rem;
  width: 1rem;
}

.dropdownItem {
  padding: 0.5rem;
  display: flex;
  width: 100%;

  color: var(--white);
  text-decoration: none;
  font-size: 20px;

  background: transparent;
  border: none;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.itemText{
  color: var(--blue-100);
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .navLink {
    font-size: 1rem;
  }

}