:root {
  --white: #F5F5F5;
  --blue-100: #2F4652;
  --blue-200: #446474;

  --green-100: #9CCCB4;
  --green-200: #84B29B;
  --green-300: #5d8d7a;

}

* {
  margin: 0;
  box-sizing: border-box;
}

:focus{
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-300);
}

body {
  background: var(--white);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilo do corpo e links gerais */
body, input, textarea, button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  color: var(--blue-100);
}
